.header {
	background-color: var( --grey-a0 );
	border-bottom: var( --red0 ) solid 3px;
	height: var( --header-height );
}

.header .link_home {
	height: 100%;
}

.header .link_home img {
	height: 100%;
	filter: saturate( 40% );
}

.header .content {
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

.header .nav, .header .auth {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 0.2rem;
}

.header .links {
	display: flex;
}

.header .nav a {
	margin-left: 1rem;
}

.header a, .header .tab {
	color: var( --grey0 );
	text-decoration: none;
	font-size: 0.85rem;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 600;
	letter-spacing: 0.03rem;
	text-transform: uppercase;
}

.header a {
	transition-property: color;
	transition-duration: 0.3s;
}

.header a:hover {
	color: var( --grey2 );
}

.header .tab {
	margin: 0rem 0.5rem;
}